{% extends 'admin/public/base.html' %}

{% block con-header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-group page-header-heading-icon"></span> 会员列表页 <small>Mr.Meng <span class="am-icon-sun-o"></span></small></div>
        </div>
    </div>
</div>
{% endblock %}
{% block con-body %}
<div class="row-content am-cf">
<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
    <div class="widget am-cf">
        <div class="widget-head am-cf">
  


        </div>
        <div class="widget-body  am-fr">

            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                <div class="am-form-group">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                            <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索 -->
            <form>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                <div class="am-form-group tpl-table-list-select">
                    <select name = "type" data-am-selected="{btnSize: 'sm'}" style="display: none;">
						<option {% if request.GET.type == 'all' %} selected {% endif %} value="all">所有类别</option>
						<option {% if request.GET.type == 'username' %} selected {% endif %} value="username">用户名</option>
						<option {% if request.GET.type == 'email' %} selected {% endif %} value="email">邮箱</option>
						<option {% if request.GET.type == 'phone' %} selected {% endif %} value="phone">联系方式</option>
						<option {% if request.GET.type == 'age' %} selected {% endif %} value="age">年龄</option>
						<option {% if request.GET.type == 'sex' %} selected {% endif %} value="sex">性别</option>
						<option {% if request.GET.type == 'addtime' %} selected {% endif %} value="addtime">创建时间</option>
						<option {% if request.GET.type == 'status'%} selected {% endif %} value="status">账号状态</option>
					</select>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                    <input type="text" name = "keywords" value = "{{ request.GET.keywords }}" class="am-form-field ">
                    <span class="am-input-group-btn">
						<button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" ></button>
					</span>
                </div>
            </div>
            </form>

            <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>会员头像</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>联系方式</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th>创建时间</th>
                            <th>账号状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    	{% for i in info %}
                        <tr class="gradeX">
                            <td class="am-text-middle">{{ i.id }}</td>

                            <td>
                            	<div class="tpl-user-panel-profile-picture">
                                	<img src="{{ i.picurl }}" alt="">
                               	</div> 
                            </td>
                            <td class="am-text-middle" style="width:70px">{{ i.username }}</td>
                            <td class="am-text-middle">{{ i.email }}</td>
                            <td class="am-text-middle">{{ i.phone }}</td>
                            <td class="am-text-middle">{{ i.age }}</td>
                            <td class="am-text-middle">{{ i.sex }}</td>
                            <td class="am-text-middle">{{ i.addtime }}</td>
                            <td class="am-text-middle">
  							<select uid="{{ i.id }}" class="user_status_save" style="color:#000">
                                <option value="0" {% if i.status == 0 %} selected {% endif %}>正常</option>
                                <option value="1" {% if i.status == 1 %} selected {% endif %}>禁用</option>
                            </select>
                            </td>
                            <td class="am-text-middle">
                                <div class="tpl-table-black-operation">
                                    <a href="{% url 'admin_user_edit' i.id %}">
                                        <i class="am-icon-pencil"></i> 编辑
                                    </a>
                                    <a href="javascript:void(0)" class="tpl-table-black-operation-del">
                                        <i class="am-icon-trash"></i> 删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- more data -->
                    </tbody>
                </table>
            </div>
            <div class="am-u-lg-12 am-cf">

                <div class="am-fr">
                    <ul class="am-pagination tpl-pagination">
                        {% load pagetag %}
  
       					{% showpage info.paginator.num_pages request %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
	// alert($)
	// 绑定下拉框改变事件
	$('.user_status_save').change(function(){
		// 获取当前点击的数据ｉｄ
		s = $(this).val()
		// 获取当前点击数据的状态
		id = $(this).attr('uid')
		// 发送ａｊａｘ请求
		$.get('{% url "admin_user_status" %}',{uid:id,status:s})
	})
	// 绑定删除标签的点击事件
	$('.tpl-table-black-operation-del').click(function(){
		// 将当前点击的对象赋值给ａ
		a = $(this)
		// 获取当前点击的ｉｄ
		tid = a.parents('.gradeX').find('td').eq(0).text()
		// alert(a)
		// 发送ａｊａｘ请求
		$.get("{% url 'admin_user_del' %}",{'tid':tid},function(data){
			// console.log(data)
			// 将点击删除的整天数据移除
			a.parents('.gradeX').remove()
		})
		return false
	})
</script>
{% endblock %}